/* Variabes */  
:root{
--orange: #ffa600;
--grey:#f3f3f3;
--white: #fff;
--base-color:#ffa600;
}

body{
    background-color: var(--base-color);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

.wrapper{
    width:800px;
    margin: 30px auto; /*margin btw each div element*/
    color: var(--white);
    text-align:center;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
}

p{
    font-size:2.5em;
  }

button{
    background-color: var(--orange);
    color: var(--white);
    border: solid 1px var(--white);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover{
    transition: all;
    background: var(--white);
	border: solid 1px var(--white);
	color:var(--base-color)
}